html, body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
.trainingStudio {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 80px;
    background: rgba(250,250,250,0.1);
    
   
}

.trainingStudio .logo {
    font-weight: bold;
    font-size: 32px;
    color: #fff;
}

.trainingStudio .logo span {
    font-weight: bold;
    color: #ed563b;
}
.trainingStudio .navbar-collapse {
    flex-grow: 0;
}
.trainingStudio .navbar-nav li {
    padding: 0 20px;
}
.trainingStudio .navbar-nav li .nav-link {
    color: #fff;
    text-transform: uppercase;
    
    transition: all 0.3s ease 0s;
    font-weight: 500;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
    font-size: 13px;
}
.trainingStudio .navbar-nav li .nav-link.active,
.trainingStudio .navbar-nav li .nav-link:hover {
    color: #ed563b;
}

.trainingStudio .navbar-nav li:last-child .nav-link {
    display: inline-block;
    font-size: 13px;
    padding: 11px 20px;
    background-color: #ed563b;
    color: #fff;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: uppercase;
    transition: all .3s;
    line-height: 30px;
}

.banner {
    position: relative;
}
.banner .banner-overlay {
    position: absolute;
    background-color: rgba(35,45,57,0.8);
    top: 0;
    left: 0;
    bottom: 7px;
    width: 100%;
}
.banner .video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100%;
}
.banner .video::-webkit-media-controls {
    display: none !important;
}
.section .section-heading span{
    font-weight: bold;
    color: #ed563b;
}
.section .section-heading{
    font-weight: 800;
    letter-spacing: 0.5px;
    font-size: 28px;
}
.section{
    text-align: center;
    margin-top: 140px;
    margin-bottom: 80px;
}
.section img{
    margin: 20px 0;
}
.section p{
    color: #7a7a7a;
    font-size: 14px;
}
.head .new{
    display: flex;
    margin-bottom: 60px;
}
.head .new .right-side h4{
    font-size: 19px;
    font-weight: 600;
}
.head .new .right-side p{
    font-size: 14px;
    line-height: 25px;
    color: #7a7a7a;
    margin: 0px;
    margin-bottom: 2px;
}
.head .new .right-side a{
    font-size: 13px;
    color: #ed563b;
    font-weight: 500;
}
.head .new .right-side{
    margin-left: 30px;
}
.text-img{
    text-align: center;
}
.diff-tabs .diff-tabs-inside{
    /* border: #7a7a7a solid; */
    display: flex;
    padding: 30px 30px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    margin-bottom: 30px;
    border-radius: 5px;
    font-size: 19px;
    
}

.diff-tabs p{
    color: #232d39;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 20px;
}
.diff-tabs p:hover{
    color: #ed563b;
}
.diff-tabs .final{
    text-align: center;
    padding: 20px 30px;
    width: 100%;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    color: #fff;
    font-size: 19px;
    letter-spacing: 0.5px;
    font-weight: 600;
    background-color: #ed563b;
}
.diff-img{
    margin-left: 30px;
}
.diff-img h4{
    font-size: 23px;
    font-weight: 700;
    color: #232d39;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.diff-img p{
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 28px;
    line-height: 180%;
}
.diff-img a{
    display: inline-block;
    font-size: 15px;
    padding: 12px 20px;
    background-color: #ed563b;
    color: #fff;
    text-transform: uppercase;
    
}
.table-new ul{
    text-align: center;
    margin: 40px;
}
.table-new ul li{
    list-style: none;
    display: inline;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.table-new ul li:hover{
    color: #ed563b;
}
.table-new ul li::after{
    content: "/";
    margin-left: 10px;
    
}
.border-table{
    width: 100%;
    text-align: center;
    border: 1px solid black;
}
.border-table tr{
    border-bottom: 1px solid black;
}
.border-table tr td{
    border-right: 1px solid black;
    height: 100px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.25px;

}
.card{
    /* border: solid; */
    padding: 40px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
}
.card span{
    font-size: 13px;
    font-weight: 500;
    color: #ed563b;
    margin-top: 25px;
    margin-bottom: 10px;
}
.card h4{
    font-size: 19px;
    font-weight: 600;
    color: #232d39;
    letter-spacing: 0.5px;
    margin-bottom: 18px;
    
}
.card p{
    font-size: 14px;
    line-height: 25px;
    color: #7a7a7a;

}
ul.down-area {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.down-area li{
    display: inline-block;
    margin-right: 12px;
}
.down-area li a{
    color: #232d39;
}
.end{
    margin-top: 140px;
}
.end .end-right{
    background-image: url(./images/contact-bg.jpg);
    padding: 80px;
}
.end .end-right .form{
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
}
.end .form input,textarea{
    padding: 10px 10px;
    width: 100%;
    color: #7a7a7a;
    font-size: 13px;
    border: 1px solid #ddd;
    margin-bottom: 30px;
}
.end .form textarea{
    height: 150px;
    resize: none;
}
.end .form button{
    background-color: #ed563b;
    padding: 10px 10px;
    text-transform: uppercase;
    font-size: 13px;
    padding: 11px 17px;
    color: #fff;
    border: none;
}
.end .form button:hover{
    background-color:lightsalmon;
}
footer{
    text-align: center;
    padding: 30px 0;
}
footer .copyright{
    color: #232d39;
    font-size: 13px;
}
footer .copyright a{
    cursor: pointer;
    color: #ed563b;
}

/* accordian */
#accordionExample h2 {
    /* background-color: lightskyblue; */
    font-size: 30px;
   color: #ed563b;

}
#accordionExample{
    margin: 30px;
}